<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net40-client" developmentDependency="true" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net40-client" />
</packages>